* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    background: #A7D7C5;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec-top {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    z-index: -1;
}

.rec-bot {
    position: fixed;
    width: 500px;
    height: 500px;
    bottom: 0;
    right: 0;
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F6FBF9;
    border-radius: 3.2rem;
    max-width: 45.5rem;
    padding: 4.4rem 4.0rem 5.4rem;
}

.heading {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.7rem;
    color: #212B27;
}

.description {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #32403B;
}

input {
    width: 100%;
    outline: none;
}

.email {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: inline-block;
    padding: 1.6rem 2.2rem 1.9rem 2.2rem;
}

.pass {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    display: inline-block;
    padding: 1.6rem 2.2rem 1.9rem 2.2rem;
}

.email::placeholder {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.pass::placeholder {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: rgba(0, 0, 0, 0.5);
}

.create-btn {
    border: none;
    background: #84C7AE;
    border-radius: 15px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.9rem;
    color: #FFFFFF;
    padding: 1.5rem 10%;
}

span {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #32403B;
}